[submodule "5/include/web-socket-js-project"]
	path = 5/include/web-socket-js-project
	url = https://github.com/gimite/web-socket-js.git
[submodule "6/include/web-socket-js-project"]
	path = 6/include/web-socket-js-project
	url = https://github.com/gimite/web-socket-js.git
